
.head {
font-family: 'Sansita Swashed', cursive;
font-size: 40px;
}


.about {
    font-size:  20px;
    color: blue;
    text-align: center;
  
}

.background {
    background-image: url("./pics/codinglaptop.jpg");
    background-repeat: no-repeat;
    height: 312px;
    width: 602px;
 
    
}

.skill {
    font-size: 25px;
}

.middle {
    font-family: 'Piazzolla', serif;
    font-size: 20px;
}

.center {
    text-align: center;
}

